<div class="list-search max-w-[400px]">
  <poke-search (onDebounce)="searchPokemon($event)" />
</div>

<div class="list-filter">
  <span>{{ pagination().pageNumber }} / {{ pagination().pages }} </span>
  <span> {{ pagination().items }} </span>
</div>

<div class="list-grid">
  @for (pokemon of pokemons(); track pokemon.id) {
  <poke-card
    [formattedName]="pokemon.formattedName"
    [name]="pokemon.name"
    [url]="pokemon.image"
  />
  }
</div>

<div class="list-pagination">
  <poke-pagination
    (actionToTake)="handleAction($event)"
    [pagination]="pagination()"
  />
</div>
